**/bin/
**/hooks/
**/scripts/
**/browser/
**/docs-api/
**/test/
**/tests/
**/tmp/
**/vendor/
**.spec.js
**.min.js
**.min.css
framework.js



# third party js file
require1k.js
rfc3986.js

*.min.js


## Directory-based project format:
.idea/

# Generated folders and files
**/.log
**/.sass-cache
**/.tmp
**/coverage
**/coverages
**/design.doc.json
**/dist
**/node_modules
**/npm-debug.log
**/packages
**/quality
**/reports

# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git-
**/node_modules

# Debug log from npm
npm-debug.log

# Compiled libraries
**/compile/
**/lib.compiled/