# http://eslint.org/docs/rules/
rules:
  # Possible Errors
  valid-jsdoc: [2, {requireParamDescription: false, requireReturn: false, requireReturnDescription: false}]

  # no even warning due to codeclimate shows it as error
  complexity: [0, 18]
  no-case-declarations: 0
  no-loop-func: 0
  no-unused-expressions: 0
  radix: [0, "always"]
  wrap-iife: 2

  # Variables
  no-catch-shadow: 0

  # Node.js and CommonJS
  global-require: 0
  no-process-exit: 0
  camelcase: [0, {properties: "never"}]
  no-bitwise: 0
  require-jsdoc: 2
